body {
  background-color: #e4e1e1;
}

#block_task {
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  letter-spacing: 2px;
}

#block_first_value {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0000;
  font-size: 18pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#block_operator_buttons {
  text-align: center;
}

#block_second_value {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #00ff00;
  font-size: 18pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#block_get_result {
  text-align: center;
}

#block_result {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #0000ff;
  font-size: 20pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#result {
  color: #ff0000;
}

#javascript_get,
#css_get,
#plus,
#minus,
#multiply,
#divide,
#get_result {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#javascript_get:before,
#css_get:before,
#plus::before,
#minus::before,
#multiply::before,
#divide::before,
#get_result::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#javascript_get:active,
#css_get:active,
#plus:active,
#minus:active,
#multiply:active,
#divide:active,
#get_result:active {
  color: #000;
}

#javascript_get:active::after,
#css_get:active::after,
#plus:active::after,
#minus:active::after,
#multiply:active::after,
#divide:active::after,
#get_result:active::after {
  background: transparent;
}

#javascript_get:hover:before,
#css_get:hover::before,
#plus:hover::before,
#minus:hover::before,
#multiply:hover::before,
#divide:hover::before,
#get_result:hover::before {
  opacity: 1;
}

#javascript_get::after,
#css_get::after,
#plus::after,
#minus::after,
#multiply::after,
#divide::after,
#get_result::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}